{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'submit':'default'}) }}
    </div>
    <div class="col-md-6">
        <label class="control-label" for="groups">Groups</label>
        <br>
        <textarea name="groups" rows="10" cols="54" disabled>
{{ output_text }}
        </textarea>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                {% if not current_user.is_anonymous %}
                    {% if output_text == "" %}
                    <a class="btn btn-default" disabled>Save</a>
                    {% else %}
                    <a class="btn btn-default" href="{{ url_for('main.save') }}">Save</a>
                    {% endif %}
                {% else %}
                <p><a href="{{ url_for('auth.login') }}">Log In</a> to save your groups!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}