{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if not current_user.is_anonymous %}
<h1>Hello, {{ current_user.firstname }}!</h1>
{% endif %}

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-4">
        <label class="control-label" for="groups">Groups</label>
        <br>
        <textarea name="groups" rows="10" cols="54">
{{ output_text }}
        </textarea>
        <br>
        {% if not current_user.is_anonymous %}
            <form action="">
                <input type="submit" value="Save">
            </form>
            <br>
            <form action="">
                <input type="submit" value="Load">
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}