{% extends "base.html" %}

{% block app_content %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>This procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <tr>
        <td width="128px"><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>{{ user.username }}</h1>
            Saved groups: {{ groups.count() }}
        </td>
    </tr>
</table>
<a class="btn btn-primary" href="{{ url_for('auth.edit_profile') }}">Edit Profile Information</a>

<h3>Saved Groups</h3>

{% if groups.count() == 0 %}

<p>You have not saved any groups yet!</p>

{% else %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Individuals</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ group.title }}</td>
            <td>{{ group.indiv_display }}</td>
            <td>{{ moment(group.creation_time).calendar() }}</td>
            <td><a class="btn btn-danger btn-sm" href="#" data-href="{{ url_for('main.delete', group=group.title) }}" data-toggle="modal" data-target="#confirm-delete">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% endblock %}